.suporte {
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.logo-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

.logo-type div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

img {
  max-width: 100%;
  opacity: 0.5;
}

img:hover {
  opacity: 1;
}

@media screen and (max-width: 850px) {
  img {
    width: 100%;
  }

  .suporte {
    margin: 100px 0px;
  }

  .logo-type div {
    flex-direction: column;
  }
}
