<header class="container">
  <div class="header">
    <h2><span class="logo">AI.</span>MAN</h2>
    <nav class="nav">
      <ul class="nav-list">
        <li><a [routerLink]="['/home']">INICIO</a></li>
        <li><a [routerLink]="['/home']">TECNOLOGIAS</a></li>
        <li><a [routerLink]="['/home']">DESENVOLVIMENTO</a></li>
        <li><a [routerLink]="['/home']">APOIO</a></li>
        <li><a [routerLink]="['/home']" class="register">REGISTRAR AGORA</a></li>
      </ul>
    </nav>
  </div>
</header>
