<section class="container">
  <div class="apoios">
    <div class="titulo">
      <h1>APOIOS</h1>
    </div>
    <div class="itens">
      <ul class="itens-list">
        <div>
          <li><img src="assets/images/apoios/art01.png" alt=""></li>
          <li><span>COMÉRCIO<br>ELETRÔNICO</span></li>
        </div>
        <div>
          <li><img src="assets/images/apoios/art02.png" alt=""></li>
          <li><span>IA PARA A<br>CONVERSAÇÃO</span></li>
        </div>
        <div>
          <li><img src="assets/images/apoios/art03.png" alt=""></li>
          <li><span>PERSONALIZAR E<br>RELEVÂNCIA</span></li>
        </div>
        <div>
          <li><img src="assets/images/apoios/art04.png" alt=""></li>
          <li><span>REALIDADE<br>AUMENTADA</span></li>
        </div>
      </ul>
    </div>
  </div>
</section>
