<footer class="container">
  <div class="footer">
    <div class="logo">
      <h2><span class="text-green">AI.</span>MAN</h2>
      <p>Melhores dados resultam em modelos de performance mais elevados.</p>
    </div>
    <div class="footer-type">
      <div class="links">
        <ul>
          <li><a [routerLink]="['/home']">PRODUCTS</a></li>
          <li><a [routerLink]="['/home']">SOLUTIONS</a></li>
          <li><a [routerLink]="['/home']">CUSTOMER</a></li>
          <li><a [routerLink]="['/home']">PRICING</a></li>
          <li><a [routerLink]="['/home']">RESOURCES</a></li>
        </ul>
      </div>
      <div class="copy">
        <ul>
          <li>©2023 AI-MAN. TODOS DIREITOS RESERVADOS</li>
          <li>CRIADO POR: <span class="text-green"> LEONARDO LEAL</span></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
