<main class="container">
  <div class="main-name">
    <h1>TECHNOLOGIA <span class="text-green">AI.</span></h1>
    <picture>
      <img src="assets/images/main/robot-hand.png" alt="" class="img-A">
      <img src="assets/images/main/plasm.png" alt="" class="img-C">
    </picture>
  </div>
  <div class="main-section">
    <div class="section-A">
      <div class="left">
        <h2>240</h2>
        <span>PARCERIAS</span>
      </div>

      <div class="right">
        <h2>92</h2>
        <span>SUPORTE</span>
      </div>
    </div>

    <div class="section-B">
      <h3>Melhores dados resultam em modelos de performance mais elevados. Modelos de alto desempenho levam a uma
        implementação mais rápida.</h3>
      <div class="btn-group">
        <button class="btn-A">COMEÇAR</button>
        <button class="btn-B">AVALIAÇÃO</button>
      </div>
    </div>
  </div>
</main>
