<section class="container">
  <div class="tecnologias">
    <div class="titulo">
      <h1>NOSSAS TECNOLOGIAS</h1>
      <img src="assets/images/icons/arrow-down.svg" alt="">
    </div>
    <div class="itens">
      <div>
        <ul class="itens-list">
          <li class="selected">RILLCUY</li>
          <li>TRUKAHH</li>
          <li>ASELII</li>
          <li>KOCKGMG</li>
          <li>MDITURU</li>
        </ul>
      </div>
      <span class="bar"></span>
    </div>
    <div class="product">
      <div>
        <div class="text">
          <h1>RILLCUY <span class="text-green">AI.</span></h1>
          <p>Annotate large volumes of 3D sensor, image, and video data at high throughput. ML-powered pre-labeling and
            an
            automated quality assurance system ensure high quality annotations.</p>
          <ul class="product-itens">
            <li>Manage Your Datasets</li>
            <li>Automate Document Processing</li>
            <li>Scale Advanced Annotations</li>
          </ul>
          <button>LEARN MORE</button>
        </div>
      </div>
      <div class="image">
        <img src="assets/images/tecnologias/rillcuy.png" alt="">
      </div>
    </div>
  </div>
</section>
