@import 'assets/variables/variable.css';

body, html {
  scroll-behavior: smooth;
  background-color: var(--color-backgroung);
  font-size: var(--Font-B-Default);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  image-rendering: optimizeSpeed;
}


