@import 'assets/variables/variable.css';

body, html {
  scroll-behavior: smooth;
  background-color: var(--color-backgroung);
  font-family: var(--Font-B);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-white-50);
}

li {
  list-style: none;
}

img {
  image-rendering: optimizeSpeed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


